.main {
  margin: 440vh 0 0 80vh;
}

.box {
  /* height: 100px;
  width: 100px;
  border: 1px solid black; */
  font-size: 20vh;
  margin: 0 0 0 6vh;
}
/* .Inc-button {
  height: 5vh;
  width: 10vh;
  margin-left: 20px;
} */
/* .Dec-button {
  height: 5vh;
  width: 10vh;
  size: large;
  margin-right: 20px;
} */
.button {
  margin-right: 35px;
  margin-left: 8px;
  height: 50px;
  width: 100px;
}
.button-2 {
  height: 50px;
  width: 100px;
}
